:root {
    --pano-height: 1500px;
    --pano-width: 3000px;
}

* {
    margin: 0;
    padding: 0;
}

#panorama {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#panorama img#photo3d {
    position: relative;
    bottom: 750px;
    right:  1500px;
}

#teste {
    display: flex;
    font-size: 20px;
    margin: 10px;
}

#teste h1,
#teste h2 {
    font-size: 20px;
}

#teste {
    display: none; /*ativar display para debug dos sensores*/    
}