:root {
    --pano-height: 1500px;
    --pano-width: 3000px;
}

* {
    margin: 0;
    padding: 0;
}

#panorama {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#photo {
    position: relative;
    /*bottom: 750px;
    right:  1500px;*/
}

#teste {
    display: flex;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}

#teste h1,
#teste h2 {
    font-size: 20px;
    margin: 5px 10px;
}

/*#teste {
    display: none; /*ativar display para debug dos sensores*/    
/*}*/